% Bestellung (Purchase Order)
% übersetzt mit lualatex

\documentclass[%
business,
DIV=10,
fontsize=10pt,
parskip=full-,%Absatzabstand eine Zeile
	twoside,%zweiseitig
pagenumber=botright,%Seitenzahl rechts im Fuß
enlargefirstpage]{scrlttr2}
%\LoadLetterOption{business}
%\LoadLetterOption{setcompany}%company1 erscheint als Name bei Rücksendeadresse

\usepackage[ngerman]{babel}
\usepackage{ragged2e}%für Rausatz mit \RaggedRight
\usepackage{fontspec}
\usepackage{fontawesome5}
\setmainfont{Roboto}

\usepackage[table]{xcolor}

%definieren von \grqq und \glqq ( „ bzw. “)
\renewcommand*{\glqq}{\quotedblbase}
\renewcommand*{\grqq}{\textquotedblleft}

\setkomavar{date}{ << po.order_date >> }
\setkomavar{myref}{ << po.number >> }
\setkomavar{yourref}{ << po.quote_ref >> }
\setkomavar{customer}{ << supplier.customer_number >> }
\setkomavar{subject}{Bestellung << po.number >> }

\begin{document}
	%\RaggedRight %Rausatz? Sonst Blocksatz!
	\begin{letter}{ << supplier.name | latex >> \\
			- << supplier.contact.person_name | latex >> - \\
			<< supplier.street | latex >> \\
			<< supplier.zip >> << supplier.city | latex >> <% if supplier.state %>, << supplier.state | latex >> <% endif %> \\
            <% if supplier.country %><< supplier.country | latex >><% endif %>
        }

		\opening{Sehr geehrte Damen und Herren,}

		hiermit bestellen wir verbindlich die nachfolgend aufgeführten Artikel bzw.\ Leistungen<% if po.quote_ref %> gemäß Ihrem Angebot Nr.\ << po.quote_ref >><% endif %>:

        \begingroup
            \small
            \begin{tabular}{|c|c|p{7.0cm}|c|r|r|r|r|}
                \hline
                \rowcolor{gray!15}
                \textbf{Pos.} & \textbf{ID} & \textbf{Description} & \textbf{Price} & \textbf{Unit} & \textbf{Cnt.} & \textbf{Tax} & \textbf{Netto} \\
                \hline
                <% for line in lines %>
                << loop.index >> & << line.assigned_id | latex >> & << line.name | latex >> \par \scriptsize \textit{ << line.description | latex >> } & << line.unit_price | eur >> & << line.unit_code >> & << line.quantity >> & << line.tax.rate >> & << (line.quantity * line.unit_price) | eur >> \\
                \hline
                <% endfor %>
            \end{tabular}

            \vspace{0.5em}

            \begin{tabular}{p{9cm} p{4cm} r}
            &    \textbf{Zwischensumme (netto)} & << net_total >>\,€ \\
            &    Umsatzsteuer (<< vat_rate_percent >>\,\%) & << vat_amount >>\,€ \\
            &    \textbf{Gesamtbetrag} & \textbf{<< gross_total >>\,€} \\
            \end{tabular}

        \endgroup

        <% if po.delivery_date %>
        Bitte liefern Sie bis zum << po.delivery_date >>.
        <% endif %>
        <% if po.delivery_address %>
        Lieferadresse: << po.delivery_address | latex >>.
        <% endif %>
        Bitte bestätigen Sie diese Bestellung unter Angabe der Bestellnummer << po.number >>
        und geben Sie diese auf allen Lieferpapieren und Rechnungen an.
        Wir danken für die gute Zusammenarbeit.
		\closing{Mit freundlichen Grüßen}

	\end{letter}

\end{document}
