% Beispiel-Brief
% übersetzt mit lualatex

\documentclass[%
business,
DIV=10,
fontsize=10pt,
parskip=full-,%Absatzabstand eine Zeile
	twoside,%zweiseitig
pagenumber=botright,%Seitenzahl rechts im Fuß
enlargefirstpage]{scrlttr2}
%\LoadLetterOption{business}
%\LoadLetterOption{setcompany}%company1 erscheint als Name bei Rücksendeadresse

\usepackage[ngerman]{babel}
\usepackage{ragged2e}%für Rausatz mit \RaggedRight
\usepackage{blindtext,mwe}%für Demo
\usepackage{fontspec}
\usepackage{fontawesome5}
\setmainfont{Roboto}

\usepackage[table]{xcolor}

%definieren von \grqq und \glqq ( „ bzw. “)
\renewcommand*{\glqq}{\quotedblbase}
\renewcommand*{\grqq}{\textquotedblleft}

\setkomavar{date}{ << quote.issue_date >> }
\setkomavar{myref}{ << quote.number >> }
\setkomavar{yourref}{ << quote.po_number>> }
\setkomavar{customer}{ << buyer.customer_number >> }
\setkomavar{subject}{Angebot << quote.number >> }

\begin{document}
	%\RaggedRight %Rausatz? Sonst Blocksatz!
	\begin{letter}{ << buyer.name >> \\ 
			- << buyer.contact.person_name >> - \\ 
			<< buyer.street >> \\ 
			<< buyer.zip >> << buyer.city >> }
		
		\opening{Sehr geehrte Damen und Herren,}
		
		Hiermit bieten wir Ihnen nachfolgend aufgeführte Leistungen an:
        
        \begingroup
            \small
            \begin{tabular}{|c|c|p{7.0cm}|c|r|r|r|r|}
                \hline
                \rowcolor{gray!15}
                \textbf{Pos.} & \textbf{ID} & \textbf{Description} & \textbf{Price} & \textbf{Unit} & \textbf{Cnt.} & \textbf{Tax} & \textbf{Netto} \\
                \hline
                <% for line in lines %>
                << loop.index >> & << line.assigned_id >> & << line.name >> \par \scriptsize \textit{ << line.description >> } & << line.unit_price >> & << line.unit_code >> & << line.quantity >> & << line.tax.rate >> & << line.quantity * line.unit_price >> \\
                \hline
                <% endfor %>
            \end{tabular}

            \vspace{0.5em}

            \begin{tabular}{p{9cm} p{4cm} r}
            &    \textbf{Zwischensumme (netto)} & << net_total >>\,€ \\
            &    Umsatzsteuer (<< vat_rate_percent >>\,\%) & << vat_amount >>\,€ \\
            &    \textbf{Gesamtbetrag} & \textbf{<< gross_total >>\,€} \\
            \end{tabular}
        
        \endgroup

        Zahlbar innerhalb von << payment.terms_days >> Tagen ab Rechnungsdatum ohne Abzüge.
        <% if payment.discount %>
        Skonto: << payment.discount.percent >>\% innerhalb von << payment.discount.days >> Tagen ab Rechnungsdatum.
        <% endif %>
        <% if tax.category == "AE" %>
        Steuerschuldnerschaft des Leistungsempfängers (§13b UStG).
        <% endif %>
        Wir hoffen, unser Angebot sagt Ihnen zu und würden uns über einen Auftrag von Ihnen sehr freuen.
        Wir danken schon jetzt für die gute Zusammenarbeit.
		\closing{Mit freundlichen Grüßen}
		
	\end{letter}

\end{document}