config/db.yaml
config/latex/lco/business.lco
**/venv/
**/secret/
**/backlog/
**/belege/
**/__pycache__/
*.aux
**/invoicing/build
**/invoicing/data
**/invoicing/*.pdf
**/invoicing/*.log
report_transaction_overview_*.csv
report_transaction_overview_*.xlsx
schema_backup.sql
Suchliste.txt
unlinked.txt
removed/
